<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.pi_13.echards"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity android:name=".MenuActivity" >
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName=".MenuActivity" >
        </activity>
        <activity
            android:name=".HelpChordsActivity"
            android:label="@string/title_activity_help_chords" >
        </activity>
        <activity android:name=".ChordsViewActivity" >
        </activity>
        <activity android:name=".RiffsView" >
        </activity>
        <activity android:name=".EditingRiff" >
        </activity>
        <activity android:name=".About" >
        </activity>
        <activity android:name=".BandsView" >
        </activity>
        <activity android:name=".EditingBand" >
        </activity>
        <activity android:name=".AlbumsView" >
        </activity>
    </application>

</manifest>
